.sayfa{
    width: 1366px ;
    height: 2521px ;
    margin: auto;
    padding: 0px; 
}
.header{
    width: 1366px;
    height: 47px;
    background-color: #1174AE;
}
.telefon{
    width: 12px;
    height: 17px;
    margin-left: 50px;
    margin-top: 18px;
    float: left;
}
.telefonNO{
    size: 10px;
    margin-left: 75px;
    position: relative;
    top: 17px;
    color: white;
}
.email{
    width: 17px;
    height: 13px;
    margin-left: 150px;
    position: relative;
    bottom: 15px;
    left: 20px;
}
.emailadres{
    size: 10px;
    margin-left: 260px;
    margin-top: -35px;
    color: white;
}
#facebook,#instagram,#twiteer{
    width:  22px;
    height: 22px;
    float: right;
    position: relative;
    padding: 5px;
    bottom: 45px;
    right: 50px;
}
.anamenu{
    width: 1366px;
    height:102px ;
    background-color: white;
}
#logo{
    float: left;
    position: relative;
    top: 10px;
    left: 20px;
}
.anamenu li{
    list-style-type: none;
    float: left;
    padding: 16px 10px;
    text-align: center;
    position: relative;
    left: 50px;
    top: 45px;
    text-align: center;
}
.ustmenu{
  margin-top: 15px;
}
.menu:link{
    color: black;
    text-decoration: none;
}
.menu:visited{
    color: black;  
}

.menu:hover{
    text-decoration: underline;
    color: #3EC6FF;
}
.menu:active{
    text-decoration: underline;
    color: #3EC6FF;

}

.menu-button{
  background-color: #0C527A;
  color: #fff;
  padding: 16px 105px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #fff;
}
.right-menu{
  display: inline-block;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 290px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
  z-index: 100;
}
.dropdown-menu a{
  color: black;
  padding: 8px 0px;
  text-decoration: none;
  font-size: 16px;
  width: 100%;

  display: block;
}
.dropdown-menu a:hover{
  background-color: rgba(129,129,129,.15);
  color: black;
}
.right-menu:hover .dropdown-menu{
  display: block;
}

.right-menu:hover .menu-button{
  background-color: #0C527A;
}



.sepetButonu{
  background-color: #007EC7;
  color: #FFFFFF;
  position: relative;
  left: 880px;
  bottom: 43px;
  padding: 10px 50px 10px 50px;
  border-radius: 2px;
  text-align: center;
  
}

.SiparislerimButonu{
  background-color: #FFFFFF;
  color: #868686;
  position: relative;
  left: 520px;
  bottom: 43px;
  padding: 10px 40px 10px 40px;
  border-radius: 2px;
  text-align: center;

}
.CikisButonu{
  background-color: #FFFFFF;
  color: #868686;
  position: relative;
  left: 1200px;
  bottom: 43px;
  padding: 10px 40px 10px 40px;
  border-radius: 2px;
  text-align: center;

}

.GirisYap{
  background-color: #FFFFFF;
  color: #868686;
  position: relative;
  left: 1180px;
  bottom: 38px;
  padding: 10px 40px 10px 40px;
  border-radius: 2px;
  text-align: center;

}

.UyeOl{
  background-color: #007EC7;
  color: #FFFFFF;
  position: relative;
  left: 870px;
  bottom: 38px;
  padding: 10px 50px 10px 50px;
  border-radius: 2px;
  text-align: center;

}

.sepetButonu:link {
  text-decoration: none;
  color: #FFFFFF;
}

.sepetButonu:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.sepetButonu:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.sepetButonu:active {
  text-decoration: none;
  color: #FFFFFF;
}


.SiparislerimButonu:link {
  text-decoration: none;
  color: #868686;
}

.SiparislerimButonu:visited {
  text-decoration: none;
  color: #868686;
}

.SiparislerimButonu:hover {
  text-decoration: none;
  color: #868686;
}

.SiparislerimButonu:active {
  text-decoration: none;
  color: #868686;
}


.CikisButonu:link {
  text-decoration: none;
  color: #868686;
}

.CikisButonu:visited {
  text-decoration: none;
  color: #868686;
}

.CikisButonu:hover {
  text-decoration: none;
  color: #868686;
}

.CikisButonu:active {
  text-decoration: none;
  color: #868686;
}




.GirisYap:link {
  text-decoration: none;
  color: #868686;
}

.GirisYap:visited {
  text-decoration: none;
  color: #868686;
}

.GirisYap:hover {
  text-decoration: none;
  color: #868686;
}

.GirisYap:active {
  text-decoration: none;
  color: #868686;
}



.UyeOl:link {
  text-decoration: none;
  color: #FFFFFF;
}

.UyeOl:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.UyeOl:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.UyeOl:active {
  text-decoration: none;
  color: #FFFFFF;
}




#slayt{
  margin-top: 50px;
}




































.anamenu form input{
    width: 230px;
    height: 34px;
    float: right;
    margin-top: 65px;
    padding: 10px;
    background-image: url("Search.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
    background-position-x: 200px;
}

  .kategoriler_kismi{
    width: 1366px;
    height: 877px;
  }
  .kategoriler_kismi h2{
    text-align: center;
    position: relative;
    margin: 0 auto;
    color: #000000;
    font-family: DMSans-Bold;
    font-size: 39px;
  }
  #Line_2{
    margin-left: 585px;
  }
 
  #container a{
    text-decoration: none;
  }


  .product{
    background-color: #fff;
    /* background-color: rgb(160, 49, 49); */
    text-align: center;
  }
  .product .product-image{
    overflow: hidden;
    position: relative;
    height: 242.2px;

  }
  .pic-1{
    height: 242.2px;
  }
  .pic-2{
    height: 242.2px;
  }
  .product .product-image a.image{
    display: block;
  }
  .product .product-image img{
    width: 100%;
    height: auto;
  }
  .product .product-image .pic-1{
    transition: .5s;
  }
  .product .product-image:hover .pic-1{
    opacity: 0;
  }
  .sepeteEkleButonu{
    width: 100%;
    padding:10px; 
    background-color:#1174AE;
    color:white;
    border: 0;
    /* opacity: 0; */
  }

  .product .product-image .pic-2{
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
  }
  .product .product-image:hover .pic-2{
    opacity: 1;
  }
 
  .product .content{
    padding: 12px;
  }
  .product .category{
    font-size: 17px;
    margin: 0 0 5px;
    display: block;
  }
  .product .category a{
    color: #999;
    transition: .5s;
    font-size: 14px;
  }
  .product .category a:hover{
    color: #555;
  }
  .product .title{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px;
  }
  .product .title a{
    color: #444;
    transition: .5s;
  }
  .product .title a:hover{
    color: #c66;
  }

  
  .container{
    margin: 50px;
    margin-top: 5px;
  }
  .container h2{
    text-align: center;
    position: relative;
    margin: 0 auto;
    color: #000000;
    font-family: DMSans-Bold;
    font-size: 39px;
  }
  #Line_1{
    margin-left: 480px;
  }
  .row{
    margin-top: 50px;
  }
  .footer{
    width: 100%;
    height: 277.96px;
    background-color: #0C527A;
  }
  .footer #logo{
    margin-top: 50px;
    margin-left: 50px;
  }
  .footer p{
    font-size: 22px;
    color: white;
    position: relative;
    top: 150px;
    left: -180px;
  }
  #Group_12{
    position: relative;
    top: 150px;
    left: -180px;
  }
  #to_top{
    position: relative;
    right: -880px;
    top: 50px;
  }
  .footer2{
    width: 1366px;
    margin: 0 auto;
    height: 59px;
    background-color: #1174AE;
    display: flex;
    justify-content: center;
    }
  .footer2 p{
    color: white;

  }

  .BuyukSlayt{
    height: 619px;
    width: 1366px;
    background-color: #0C527A;
  }
  .FotografKismi{
    height:487px ;
    width: 562px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 650px;
    top: 60px;
    display: flex;
    justify-content: center;
  }
  .FotografKismi img{
    height: auto;
    width: auto;
    
  }
  .AciklamaKismi{
    height:100px ;
    width: 500px;
    position: absolute;
    left: 100px;
    top: 240px;
    display: flex;
    justify-content: center;
  }
  .AciklamaKismi h1{
    color: white;
    font-size: 45px;
  }
  .kategoritablo{
    border-collapse: separate;
   border-spacing: 120px 0;
     margin-top: 50px;
   }
   .kategoritablo td{
     width: 480px;
   }
  
  .BestKategoriler{
    width: 480px;
    height: 211px;
    background-color: #053F61;
    border-radius: 10px;
    margin-bottom: 20px;
  }
 
  .KategoriFotografKismi{
    height: 150px ;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
  }
  .KategoriAciklamaKismi{
    height:100px ;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .KategoriAciklamaKismi h1{
    color: white;
    font-size: 20px;
    margin-top: 90px;

  }
  .kategorilerdiv{
    text-decoration: none;
    display: flex;
  }
  .kategorilerdiv h1{
    text-decoration: none;

  }